services:
  redis:
    image: redis:7
    command:
      - redis-server
      - --appendonly
      - "yes"
      - --auto-aof-rewrite-percentage
      - "100"
      - --auto-aof-rewrite-min-size
      - 64mb
      - --appendfsync
      - everysec
      - --maxmemory-policy
      - noeviction
      - --requirepass
      - "${REDIS_PASSWORD}"
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "PING"]
      interval: 5s
      timeout: 3s
      retries: 5

  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379:0:${REDIS_PASSWORD}
      - HTTP_USER=${REDIS_COMMANDER_USER}
      - HTTP_PASSWORD=${REDIS_COMMANDER_PASSWORD} 
    ports:
      - "8082:8081"
    depends_on:
      - redis

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      REDIS_URL: redis://default:${REDIS_PASSWORD}@redis:6379
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      # test: ["CMD-SHELL", "pg_isready -U postgres -d veterinaria"]
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10

  app:
    build: .
    labels:
      co.elastic.logs/enabled: "true"
      co.elastic.logs/json: "true"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "3001:3000"   # host:contenedor
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      SECRET_JWT: ${SECRET_JWT}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      CAPTCHA_SECRET_KEY: ${CAPTCHA_SECRET_KEY}
    command: ["sh", "-c", "npx prisma migrate deploy && node dist/main"]

  # app:
  #   build: .
  #   depends_on:
  #     db:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #   expose:
  #     # ports:
  #     # - "3001:3000"
  #     - "3000"
  #   environment:
  #     DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
  #     SECRET_JWT: ${SECRET_JWT}
  #     REDIS_HOST: redis
  #     REDIS_PORT: 6379
  #     CAPTCHA_SECRET_KEY: ${CAPTCHA_SECRET_KEY}
  #   command: ["sh", "-c", "npx prisma migrate deploy && node dist/main"]

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    depends_on:
      - app
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

  jenkins:
    image: jenkins/jenkins:lts-jdk17
    restart: unless-stopped
    user: root
    ports:
      - "8080:8080"
    volumes:
      - jenkins-home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.9.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  filebeat:
    image: docker.elastic.co/beats/filebeat:8.9.0
    user: root
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - elasticsearch
    networks:
      - default

  k6:
    image: grafana/k6
    container_name: k6-1
    volumes:
      - ./scripts:/scripts
    entrypoint: ["sleep", "infinity"]  


volumes:
  pgdata:
  redis-data:
  jenkins-home:

networks:
  default:
    driver: bridge
